@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Sixtyfour&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.nav {
  padding:30px;
  width:100%;
  max-width: 600px;
  display:flex;
  justify-content:space-between;
  align-items: center;
  margin:auto;
}


.nav ul {
  display:flex;
  gap:100px;
  width:100%;
  justify-content: center;
  text-align: center;
}

.nav ul a{
  cursor: pointer;
  list-style-type: none;
  font-family: "Sixtyfour", sans-serif;
  font-size: 2em;
  text-decoration: none;
  color:black;
}

.home{
  display:grid;
  place-content: center;
  place-items: center;
  height:800px;
  background-image: url("/hero-picture.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
