@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.nav {
  padding:20px;
  width:100%;
  max-width:1200px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.nav img {
  width:100px;
  height:auto;
}

.nav ul {
  display:flex;
  gap:100px;
  width:50%;
  justify-content: space-between;
}

.nav ul a{
  cursor: pointer;
  list-style-type: none;
  font-family: "Sixtyfour", sans-serif;
  font-size: 2em;
  text-decoration: none;
  color:black;
}